span.secretsLabel {
    width: 100px;
    align-self: center;
    font-weight:300;
}

div.secretRow {
    margin-bottom: 20px;
    margin-left: 5px;
    display: flex;
}

div.inputDataRow {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
}

#btnPickOutput {
    font-size: small;
    margin-right: 10px;
}

h1.topBanner {
    /* background-color: darkblue;
    color:white; */
    border-bottom: solid 5px black;
    line-height: 40px;
    text-align: center;

}

.redBorder {
    border: solid 1px red
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

span#spanHideShowCookieAuth {
 /* border: solid 1px black; */
}

p#paraAuthInstructions {
    padding: 5px;
}

div.instructions {
    padding: 5px;
}

div#divCurlCommandSection {
    margin-top: 20px;
    border: solid 1px black;
    width: 450px;
}

div#divDataScrapingSection {
    margin-top: 40px;
    border: solid 1px black;
    width: 450px;
}

textarea {
    height: 50px;
    width: 300px;
}

div#divScrapeButton {
    margin-top: 20px;
}

div#divElucidatSetUpSection {
    margin-top: 40px;
}

input#txtOutputDirectory{
    width: 200px;
}

input#btnMain {
    height: 50px;
    width: 200px;
    color: white;
    cursor: pointer;
}

input.inProgress {
    background-color:#ccc;
}

input.readyToScrape {
    background-color: green;
}

div#divErrorMsg {
    margin-top: 15px;
    border: solid 2px crimson;
    background-color: darkgray;
    color: crimson;
    width: 450px;
}

#listErrors {
    margin: 5px;
}

#listErrors > li {
    margin: 5px;
}

.hide {
    display: none
}

.show {
    display:block
}

img {
    height:500px;
}


.instructionsList {
    text-align: left;
}

/* .instructionsModal{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.instructionsModal .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.instructionsModal > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 300;
    min-height: 100px;
    vertical-align: middle;
    width: 85%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
} */
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.showPopup {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}